.app-audio-bar {
  width: 100%;

  .cursor-animations {
    position: fixed;
    top: 0;
    left: 0;

    // color: $color_semi_black;
    color: $color_white;
    height: 64px;
    width: 64px;
    border-radius: 50%;
  }
}
