.header-container {
  padding: 0 20px;
  width: 100%;
  display: flex;
  justify-content: flex-end;

  width: 100%;

  position: fixed;
  top: 50px;
  right: 65px;

  .contain {
    font-family: $blinker;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    line-height: 24px;
    text-transform: uppercase;
    /* identical to box height */

    color: $color_white;
    padding-bottom: 5px;

    @include hoverPointer;
  }

  .link-active {
    border-bottom: 3px solid $selective_yellow;
  }

  .contain ~ .contain {
    margin-left: 54px;
  }
}
