.modal {
  .ant-modal-content {
    border-radius: 16px;

    .ant-modal-body {
      .modal-container {
        position: relative;

        .modal-close-icon {
          position: absolute !important;
          width: 24px;
          height: 24px;
          right: 0;
          top: 0;

          //   top: 36px;
          //   right: 36px;
          z-index: 10;

          display: unset;

          &:hover {
            @include hoverPointer();
            opacity: 0.8;
          }

          // 767
          @media screen and (max-width: $breakpoint_tablet_max) {
            display: none;

            top: 20px;
            right: 20px;
          }
        }
      }
    }
  }
}
